@import 'april';

$primary: map-get($theme, 'primary');

.ember-application {
  background-color: map-get($theme, 'background');
}

md-toolbar {
  &.md-default-theme {
    color: map-get($theme, 'text');
    md-icon {
      color: map-get($theme, 'text');
    }
  }
}

.md-button.md-default-theme {
  &.md-primary.md-raised {
    color: map-get($theme, 'text');
  }
}

md-content.md-default-theme.theme {
  background-color: map-get($theme, 'background');
  color: map-get($theme, 'card-text-color');
  md-card {
    background-color: map-get($theme, 'card-color');
  }
  md-list {
    background-color: map-get($theme, 'card-color');
  }
  button {
    color: map-get($theme, 'icon-color-text');
    .md-avatar {
      color: map-get($theme, 'card-text-color');
    }
    .md-list-item-text {
      color: map-get($theme, 'card-text-color');
    }
    md-icon.md-default-theme {
      color: map-get($theme, 'icon-color-text');
    }
  }
}

md-icon.md-default-theme.theme {
  color: map-get($theme, 'icon-color-text');
}

.metrics-container {
  span {
    color: map-get($theme, 'card-text-color');
  }
}

md-list.md-default-theme {
  md-list-item {
    &.md-3-line{
      .md-list-item-text {
        h3.accent-text {
          color: map-get($theme, 'accent-text-color');
          font-weight: bold;
        }
      }
    }
    .md-list-item-text {
      h3.accent-text {
        color: map-get($theme, 'accent-text-color');
        font-weight: bold;
      }
    }
  }
}

md-divider.md-default-theme.theme{
  border-top-color: map-get($theme, 'card-divider-color');
}
