@import 'color-palette';

$primary: $color-deep-purple;
$accent: $color-yellow;
$warn: (
  '50': #000,
  '100': #000,
  '200': #000,
  '300': #000,
  '400': #000,
  '500': #000,
  '600': #000,
  '700': #000,
  '800': #000,
  '900': #000,
  'A100': #000,
  'A200': #000,
  'A400': #000,
  'A700': #000,
  'contrast': $light-contrast-color
);

 @import 'ember-paper';

 .ember-application {
   max-width: 100%;
   max-height: 100%;
   background-color: color($color-deep-purple, '200');
 }

md-toolbar {
  &.md-default-theme {
    color: white;
    md-icon {
      color: white;
    }
  }
}

md-content.md-default-theme.bc-purple {
  background-color: map-get($color-deep-purple, '200');
}

.md-button.md-default-theme.md-primary.md-raised {
  color: white;
}

.inline-auto {
  display: flex;
  md-autocomplete {
    flex: 1 1 calc(50% - 8px);
    min-width: auto;
    margin-right: 8px;
  }
}

.metrics-container {
  span {
    display: inline-block;
    margin-right: 16px;
  }
}

.is-asc, .is-desc, .is-sort-win-percentage, .is-sort-losses, .is-sort-wins, .is-sort-win-loss-ratio {
  background-color: rgba(0, 0, 0, 0.0980392) !important;
}

// utils
.pl-16 { padding-left: 16px; }
.pr-16 { padding-right: 16px; }

.mb-8 { margin-bottom: 8px; }
.ml-8 { margin-left: 8px; }
.m-8 { margin: 8px; }

.d-b { display: block; }
.d-ib { display: inline-block; }

.ta-c { text-align: center; }
.ta-r { text-align: right; }

.black { color: #000; }
.yellow { color: map-get($accent, '500'); }

.ts-grey { text-shadow: -2px 2px 2px map-get($color-grey, '300'); }

.bold { font-weight: bold; }

.fs-24 { font-size: 24px; }

.p-r { position: relative; }

.t-4 { top: 4px; }

.bc-black { background-color: black; color: white; }
.bc-yellow { background-color: map-get($accent, '500'); color: black; }
.bc-grey { background-color: map-get($color-grey, '300'); }
.bc-purple { background-color: map-get($color-deep-purple, '200'); }
