{{#paper-card class="bc-white"}}
  {{#paper-card-content}}
    <div class="footer-links">
      <a {{action 'logout'}}>Logout</a>
      <a href={{href-to 'about'}}>About</a>
      <a href={{href-to 'league-rules'}}>League Rules</a>
    </div>
  {{/paper-card-content}}
{{/paper-card}}
