{{#paper-card class="bc-white" as |card|}}
  {{#card.content}}
    <div class="footer-links">
      <a {{action 'logout'}}>Logout</a>
      <a href={{href-to 'about'}}>About</a>
      <a href={{href-to 'league-rules'}}>League Rules</a>
    </div>
  {{/card.content}}
{{/paper-card}}
