{{#paper-card class="login-route bc-white"}}
  {{#paper-card-content class="fg-1"}}
    {{#if session.isAuthenticated}}
      <h1 class="c-primary ta-c">You're already logged in!</h1>
      <button {{action 'logout'}}>Logout</button>
    {{else}}
      <h1 class="c-primary ta-c">Log in to Foursball</h1>

      <hbox justify='center'>
        <img
          class='login-provider'
          title='Twitter'
          onclick={{route-action 'login' 'twitter'}}
          src='/login-providers/Twitter_Logo_Blue.png'>

        <img
          class='login-provider p-16'
          title='Github'
          onclick={{route-action 'login' 'github'}}
          src='/login-providers/Github_Logo.png'>
      </hbox>
    {{/if}}
  {{/paper-card-content}}
  {{#paper-card-content class="bc-grey"}}
    {{#link-to 'about'}}About{{/link-to}}
  {{/paper-card-content}}
{{/paper-card}}
