{{#paper-content class="md-padding"}}
  {{#paper-card}}
    {{#paper-card-content}}
      <h4>Team 1</h4>
      <div class="d-f">
        <div class="flex-50">
          {{#paper-select placeholder="Player 1" model=team1Player1 item-label-callback=retrievePlayerName}}
            {{#each players as |player|}}
              {{#paper-option value=player}}
                {{player.name}}
              {{/paper-option}}
            {{/each}}
          {{/paper-select}}
        </div>

        <div class="flex-50">
          {{#paper-select placeholder="Player 2" model=team1Player2 item-label-callback=retrievePlayerName}}
            {{#each players as |player|}}
              {{#paper-option value=player}}
                {{player.name}}
              {{/paper-option}}
            {{/each}}
          {{/paper-select}}
        </div>
      </div>

      <h4>Team 2</h4>
      <div class="d-f">
        <div class="flex-50">
          {{#paper-select placeholder="Player 1" model=team2Player1 item-label-callback=retrievePlayerName}}
            {{#each players as |player|}}
              {{#paper-option value=player}}
                {{player.name}}
              {{/paper-option}}
            {{/each}}
          {{/paper-select}}
        </div>
        <div class="flex-50">
          {{#paper-select placeholder="Player 2" model=team2Player2 item-label-callback=retrievePlayerName}}
            {{#each players as |player|}}
              {{#paper-option value=player}}
                {{player.name}}
              {{/paper-option}}
            {{/each}}
          {{/paper-select}}
        </div>
      </div>

      <div class="md-actions" layout="row" layout-align="end center">
        {{#paper-button action="cancelGame" param=model}}Cancel{{/paper-button}}
        {{#paper-button raised=true primary=true param=model action="startGame" disabled=cannotStart}}Start{{/paper-button}}
      </div>
    {{/paper-card-content}}
  {{/paper-card}}
{{/paper-content}}
