{{#paper-content class="md-padding"}}
  {{#paper-card}}
    {{#paper-card-content}}
      <h4>Team 1</h4>
      {{paper-autocomplete
        floating=true
        placeholder="Player 1"
        source=players
        lookupKey="name"
        model=team1Player1
      }}
      {{paper-autocomplete
        floating=true
        placeholder="Player 2"
        source=players
        lookupKey="name"
        model=team1Player2
      }}
      <h4>Team 2</h4>
      {{paper-autocomplete
        floating=true
        placeholder="Player 1"
        source=players
        lookupKey="name"
        model=team2Player1
      }}
      {{paper-autocomplete
        floating=true
        placeholder="Player 2"
        source=players
        lookupKey="name"
        model=team2Player2
      }}

      <div class="md-actions" layout="row" layout-align="end center">
        {{#paper-button action="cancelGame" param=model}}Cancel{{/paper-button}}
        {{#paper-button raised=true primary=true param=model action="startGame" disabled=cannotStart}}Start{{/paper-button}}
      </div>
    {{/paper-card-content}}
  {{/paper-card}}
{{/paper-content}}
