{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Teams</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}

      {{#teams-sorter teams=model as |sortedDecoratedTeams|}}

        {{#each sortedDecoratedTeams as |decoratedTeam|}}
          {{#paper-item param=decoratedTeam.team action="goToTeam"}}
            {{team-display decoratedTeam=decoratedTeam}}
          {{/paper-item}}
          {{paper-divider}}
        {{/each}}

      {{/teams-sorter}}

    {{/paper-list}}
  {{/paper-content}}
{{/paper-content}}
