.ember-power-calendar {
  position: relative;
  font-size: 14px;
  line-height: 1.42857;
}

.range-calendar {
  .ember-power-calendar-day--range-start, .ember-power-calendar-day--range-end {
    color: white;
    &:hover {
      color: white;
    }
  }
  .ember-power-calendar-day--range-start {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpolygon points='0,0 8,0 10,5 8,10 0,10' fill='%230078c9'/%3E%3C/svg%3E");
  }
  .ember-power-calendar-day--range-end {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpolygon points='0,5 2,0 10,0 10,10 2,10' fill='%230078c9'/%3E%3C/svg%3E");
  }
}
