<vbox md="12" class="p-8">
  {{#paper-card class="bc-white teams-top-10 o-a" as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Select who you are{{/text.headline}}
        {{#text.subhead}}You need to link your account to your existing user. If you don't see your name
        and you've done this before, then <a href={{href-to 'logout'}}>logout</a> and log in with the original account you logged in with.{{/text.subhead}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      {{#each nonLinkedFoosers as |foosballer|}}
        {{#paper-radio groupValue=selectedFoosballer value=foosballer onChange=(action (mut selectedFoosballer))}}{{foosballer.name}}{{/paper-radio}}
      {{/each}}
    {{/card.content}}
  {{/paper-card}}

  {{#paper-button primary=true raised=true onClick=(action 'linkUser')}}Link User{{/paper-button}}
</vbox>
