{{#if dialogsService.newGame}}
  {{#paper-dialog
    fullscreen=true
    onClose=(action 'toggleDialog' 'newGame' target=dialogsService)
    origin=dialogOrigin}}

    {{#paper-toolbar}}
      <div class='md-toolbar-tools'>
        <h2>New Game</h2>
        <span class='flex'></span>
        {{#paper-button iconButton=true onClick=(action 'toggleDialog' 'newGame' target=dialogsService)}}
          {{paper-icon icon="close"}}
        {{/paper-button}}
      </div>
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      <div style='width:800px'>
        {{new-game currentUser=currentUser gameAdded=(action 'toggleDialog' 'newGame' target=dialogsService)}}
      </div>
    {{/paper-dialog-content}}

  {{/paper-dialog}}
{{/if}}
