{{#if dialogsService.newGame}}
  {{#paper-dialog
    fullscreen=fullscreen
    onClose=(action 'toggleDialog' 'newGame' target=dialogsService)
    origin=dialogOrigin}}

    {{#paper-dialog-content}}
      <h2 class="md-title">What would you name your dog?</h2>
      <p>Bowser is a common name.</p>
      {{paper-input placeholder="dog name" autofocus=true value=dogName onChange=(action (mut dogName))}}
      <div>
        {{#paper-checkbox value=fullscreen onChange=null}}Display fullscreen at small window size breakpoints{{/paper-checkbox}}
      </div>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button onClick=(action 'toggleDialog' 'newGame' target=dialogsService)}}Cancel{{/paper-button}}
      {{#paper-button primary=true onClick=null}}Okay!{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
