{{!--
<div class="ember-application">
  {{#paper-nav-container}}
    {{#paper-sidenav class="md-sidenav-left" locked-open="gt-lg"}}
      {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          {{#link-to 'application' tagName="h3"}}Foosball{{/link-to}}
        </div>
      {{/paper-toolbar}}
      {{#paper-content}}
        {{#paper-list}}
          {{#paper-item action="transitionTo" param="summary"}}Summary{{/paper-item}}
          {{#paper-item action="transitionTo" param="foosballers"}}Foosballers{{/paper-item}}
          {{#paper-item action="transitionTo" param="teams"}}Teams{{/paper-item}}
          {{#paper-item action="transitionTo" param="games"}}Games{{/paper-item}}
        {{/paper-list}}
      {{/paper-content}}
    {{/paper-sidenav}}

    <div layout="column" tabindex="-1" role="main" flex>
      {{outlet}}
    </div>
  {{/paper-nav-container}}
  <div id="paper-wormhole"></div>
</div>
--}}
<screen>
  <hbox justify="center" class="main-nav">
    <hbox class="center-content" fill nowrap>
      <div class="left-nav">
        {{#if session.isAuthenticated}}
          {{#link-to 'home' class="tab"}}Home{{/link-to}}
          {{#link-to 'teams' class="tab"}}Teams{{/link-to}}
          {{#link-to 'foosballers' class="tab"}}Players{{/link-to}}
        {{else}}
          {{#link-to 'login' class="tab"}}Login{{/link-to}}
        {{/if}}
      </div>
      <div class="middle-nav d-f jc-center">
        <div class="icon"></div>
      </div>
      <hbox justify="end" class="right-nav">
        {{#if session.isAuthenticated}}
          {{#current-user foosballers=foosballers as |user|}}
            {{#link-to 'foosballer' user.currentPlayer class="img-container"}}
              <img src={{session.currentUser.profileImageURL}}>
            {{/link-to}}
          {{/current-user}}

          {{!--
          {{#paper-button primary=true raised=true}}Game{{/paper-button}}
          --}}
        {{/if}}
      </hbox>
    </hbox>
  </hbox>
  <hbox justify="center">
    <hbox justify="center" class="center-content fh-nav" fill>
      {{outlet}}
    </hbox>
  </hbox>
</screen>
