<screen>
  <hbox justify="center" class="main-nav">
    <hbox class="center-content" fill nowrap>
      <div class="left-nav">
        {{#if session.isAuthenticated}}
          {{#link-to 'home' class="tab"}}Home{{/link-to}}
          {{#link-to 'teams' class="tab"}}Teams{{/link-to}}
          {{#link-to 'foosballers' class="tab"}}Players{{/link-to}}
        {{else}}
          {{#link-to 'login' class="tab"}}Login{{/link-to}}
        {{/if}}
      </div>
      <div class="middle-nav d-f jc-center">
        <div class="icon"></div>
      </div>
      <hbox justify="end" class="right-nav">
        {{#if session.isAuthenticated}}
          {{#current-user foosballers=foosballers as |user|}}
            {{#link-to 'foosballer' user.currentPlayer class="img-container"}}
              <img src={{user.currentPlayer.profileImageURL}}>
            {{/link-to}}
          {{/current-user}}

          {{!--
          {{#paper-button primary=true raised=true}}Game{{/paper-button}}
          --}}
        {{/if}}
      </hbox>
    </hbox>
  </hbox>
  <hbox justify="center">
    <hbox justify="center" class="center-content fh-nav" fill>
      {{outlet}}
    </hbox>
  </hbox>
  {{ember-notify messageStyle='bootstrap'}}
</screen>
