<screen>
  <hbox justify="center" class="main-nav">
    <hbox class="center-content" fill nowrap>
      <div class="left-nav fb-33">
        {{#if session.isAuthenticated}}
          {{#link-to 'home' class="tab"}}Home{{/link-to}}
          {{#link-to 'teams' class="tab"}}Teams{{/link-to}}
          {{#link-to 'foosballers' class="tab"}}Players{{/link-to}}
        {{else}}
          {{#link-to 'login' class="tab"}}Login{{/link-to}}
        {{/if}}
      </div>
      <div class="middle-nav d-f jc-center fb-33">
        <div class="icon"></div>
      </div>
      <hbox justify="end" class="right-nav fb-33">
        {{#if session.isAuthenticated}}
          {{#unless (or
            (eq currentRouteName 'about')
            (eq currentRouteName 'league-rules')
            (eq currentRouteName 'loading')
          )}}
            {{#paper-button
              primary=true
              raised=true
              onClick=(action 'toggleDialog' 'newGame' target=dialogsService)}}
              Game
            {{/paper-button}}
          {{/unless}}

          {{#current-user foosballers=foosballers as |user|}}
            {{#link-to 'foosballer' user.currentPlayer class="img-container"}}
              <img src={{user.currentPlayer.profileImageURL}}>
            {{/link-to}}
          {{/current-user}}
        {{/if}}
      </hbox>
    </hbox>
  </hbox>
  <hbox justify="center">
    <hbox justify="center" class="center-content fh-nav" style='min-height: 829px;' fill>
      {{outlet}}
    </hbox>
  </hbox>
  {{ember-notify messageStyle='bootstrap'}}
</screen>
