{{#paper-card class="bc-white" as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Trends{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <p>
      Coming soon!
    </p>
  {{/card.content}}
{{/paper-card}}
