<div class='bc-white p-16 o-a'>
  <p>
    Foursball is a web application to track scores among individual players
    and two player teams in table top games like Foosball or Table Tennis.
  </p>

  {{#paper-card as |card|}}
    {{card.image src='https://lh3.googleusercontent.com/eKjSNyAx1EPLG5xoN7Hwce5fCeSbyqFqZWR624GNgRhKATzU6waUDNC3AKU8eiOqB7wqopD8-k6dhvwKp_-BCmPlAQ1aUIi3rUBg_Tm3CtAHAIZPvX-_KOOQssNLMn7NsAlSPU5KIYDOB5_MXGkMsudiDn_pq_CAePkFn4u0CYA1YxpAaqMqlXmUPfROdLnZmqou2SxLmVwWKG7TU6Tt0TE3eVSyHV3viFr5vWOCqgZ1chHbGI5gUmpJyc2eOD9ntU8vcXXhR_V2mfsSxZPRLTkf6RdVOXypj9KRID5pZqf2kVhgzTqsnXwMw9UMMxbBoieFQLOVAAtoQvrzUxROEYCE7q-IoUsyK1LKBN7ciBeT9GiDkuKBm_8bNxTvD_-WAcdwCl2LG9lt96liNh0geNwI1h3raaMFMfuoTzD-41wEU-giT7IGkPqYddyrPzfJy9M_fuPs2INw7TfLweEsDVonexwPRuFGLwjG2h6gpG3on2iZWF0KuYmF_7O5Sv5W0Wd6vaSucQQtCgMRnxVc2YgbgsGw4frxZAGivETaUVEt5oTI7u0kNlZvu24oDu0dumBPMA9euR7_vUBOzNMGs3d-i709MxQ=w1062-h704-no'}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Zach McGonigal{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      <p>
        Zach works for <a href='https://www.snagajob.com'>Snagajob</a> as a Web Engineer.
        He works on this app in his spare time and would like to make it fully-featured.
      </p>
    {{/card.content}}
    {{#card.actions class='layout-column'}}
      {{#paper-button href='https://twitter.com/SirZach' target='_blank'}}Follow on Twitter{{/paper-button}}
      {{#paper-button href='https://github.com/SirZach' target='_blank'}}Follow on Github{{/paper-button}}
    {{/card.actions}}
  {{/paper-card}}

  {{partial 'footer-links'}}
</div>
