{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Summary</span>
  </div>
{{/paper-toolbar}}

{{#paper-content class="md-padding theme"}}
  {{#paper-button primary=true raised=true action="newGame"}}New Game{{/paper-button}}
  <span class="black bold fs-24 d-ib p-r ml-8 t-4">{{wins.black}}</span>
  <span class="yellow bold fs-24 d-ib p-r ml-8 t-4">{{wins.yellow}}</span>

  {{#paper-item}}
    {{games/black-yellow-wins games=model}}
  {{/paper-item}}

  <div class="md-padding black">
    <p>This month's theme is brought to you by Multiple Sclerosis.</p>
    <p>Please consider making a reasonable donation to <a href="http://www.nationalmssociety.org/Donate">National Multiple Sclerosis Society</a></p>
  </div>

{{/paper-content}}
