<p>{{decoratedFoosballer.foosballer.name}}</p>
<p class="metrics-container">
  <span>W - {{decoratedFoosballer.wins}}</span>
  <span>L - {{decoratedFoosballer.losses}}</span>
  <span>{{decoratedFoosballer.winPercentage}}%</span>

</p>
