{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">Games</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  {{#paper-button primary=true raised=true action="newGame"}}New Game{{/paper-button}}

  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}

      {{#each sortedGames as |game|}}
        {{#paper-item param=game action="expandGame"}}
          {{game-display game=game expandedId=expandedId}}
        {{/paper-item}}
        <small class="pr-16 d-b mb-8 ta-r"><i>{{moment-format game.time "MMM. Do, YYYY @ h:mm a"}}</i></small>
        {{paper-divider}}
      {{/each}}

    {{/paper-list}}
  {{/paper-content}}
{{/paper-content}}
